@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-serif: var(--font-playfair);

  --animate-magic-colors: magic-colors 4s infinite linear;

  @keyframes magic-colors {
    0% {
      color: #FFD700;
    }

    /* Gold */
    33% {
      color: #FFFFFF;
    }

    /* White */
    100% {
      color: #FFD700;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}